@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    margin:auto;
}
#photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.display {
  border: transparent;
  padding: 10px;
}

.download {
  border: transparent;
  padding: 10px;
}

.navigator {
    border: 1px solid #636e72;
    padding: 20px 3px;
}


#select {
  border:1px solid#636e72;
  padding: 10px;
  font-family:'Roboto', sans-serif;
  color: #2d3436;
  font-size: 16px;
  background-color: white;
}



#select:focus {
  outline: none;
  box-shadow: none;
}

#fileButton {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

  #fileButton + label {
    border: 1px solid #636e72;
    color: #2d3436;
    background-color: white;
    padding: 10px;
    margin: 1px;
  }



 #fileButton + label {
   cursor: pointer;
 }
