@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    margin:auto;
}

.display {
  border: 1px solid #2ecc71;
  background-color: #2ecc71;
  padding: 10px;
}

.download {
  border: 1px solid #c0392b;
  background-color: #c0392b;
  padding: 10px;
}

.navigator {
    border: 1px solid #636e72;
    padding: 20px 3px;
}

#retrieve {
  border:1px solid#636e72;
  padding: 10px;
  font-family:'Roboto', sans-serif;
  color: #2d3436;
  font-size: 16px;
  background-color: white;
}


#select {
  border:1px solid#636e72;
  padding: 10px;
  font-family:'Roboto', sans-serif;
  color: #2d3436;
  font-size: 16px;
  background-color: white;
}


#retrieve:focus {
  outline: none;
  box-shadow: none;
}

#select:focus {
  outline: none;
  box-shadow: none;
}

#fileButton {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

  #fileButton + label {
    border: 1px solid #636e72;
    color: #2d3436;
    background-color: white;
    padding: 10px;
    margin: 1px;
  }



 #fileButton + label {
   cursor: pointer;
 }

 img {
   margin: 10px;
   width:300px;
 }