@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  background-color: #dfe6e9;
  font-family: "Roboto", sans-serif;
  margin: auto;
}
#photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

#photo1 {
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.display {
  border: transparent;
  padding: 10px;
}

.download {
  background-color: white;
  border: 1px solid black;
  padding: 10px;
}

.navigator {
  background-color: white;
  border: 1px solid #636e72;
  padding: 20px 3px;
}

/* 
#retrieve {
  border: 1px solid #636e72;
  color: #2d3436;
  background-color: white;
  padding: 10px;
  margin: 1px;
  font-size: 16px;
  font-family:'Roboto', sans-serif;
  cursor: pointer;
}

#retrieve:focus {
  outline: none;
  box-shadow: none;
} */

#select {
  border: 1px solid#636e72;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  color: #2d3436;
  font-size: 16px;
  background-color: white;
}

#select:focus {
  outline: none;
  box-shadow: none;
}

#fileButton {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

#fileButton + label {
  border: 1px solid #636e72;
  color: #2d3436;
  background-color: white;
  padding: 10px;
  margin: 1px;
}

#fileButton + label {
  cursor: pointer;
}

/*  card group */

.card-group {
  border: transparent;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
  grid-auto-rows: minmax(100px, auto);
}

.card-group > .card {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  background: #ffffff;
  border: transparent;
  margin: 10px;
}

.card {
  width: auto;
  border-radius: 2px;
}

.card > .card-header {
  border: transparent;
  padding: 5px;
}

.card > .card-photo {
  border: transparent;
}

.card-photo img {
  width: 100%;
}
